.content_left{
	height:550px;
}
.content_right{
	height:550px;
}
.content_right_qyxq table{
	font-size: 12px;
	line-height: 25px;
	font-family: ו, ו, arial;
	letter-spacing:2PX;
}
.content_right_qyxq_td1{
	width:30px;
	font-size: 14px;
}
.content_bottom{
	width:100%;
	height:200px;
}
.content_bottom img{
	width:32.8%;
	height:200px;
}