.top_login{
	width:100%;
	height:20px;
}
.top_login_regist{
	float:right;
	width:400px;
	
}
.top_head{
	width:80%;
	margin:0 auto 0;
}
.top_head_logo{
	float:left;
	width:35%;
	height:80px;
	padding-top:50px;
}
.top_head_navigation{
	float:left;
	width:65%;
	height:80px;
	margin-top:34px;
}
.top_head_navigation_ul{
	height:80px;
	margin-left:-64px;
}
.top_head_navigation_li{
	float:left;
	width:175px;
	height:80px;
	background-color:#6BADF6;
	text-align:center;
}
.top_head_navigation_li a{
	font-size:24px;
	line-height:80px;
	background-color:;
}

.content_left{
	width:30%;
	height:800px;
	float:left;
}
.content_left_tel{
	height:100px;
}
.content_left_tel p{
	float:right;
	margin-bottom: 0px;
}

.content_right{
	width:70%;
	height:800px;
	float:left;
}
.picbox{
	width:100%;
	float:left;
	height:400px;
}
.content_right_article{
	width:100%;
	float:left;
}
.content_right_article table{
	font-size: 12px;
	line-height: 25px;
	font-family: ו, ו, arial;
	letter-spacing:2PX;
}

.bottom_classification{
	width:80%;
	margin-left:10%;
	height:120px;
	line-height:22px;
}
.bottom_copyright{
	width:100%;
	height:80px;
}
.bottom_classification_ul{
	float:left;
	width:200px;
	font-size:14px;
}
.bottom_classification_div{
	width:1000px;
	margin:0px auto 0px;
}
.bottom_classification_li{
	font-size:12px;
}
.bottom_copyright_p{
	font-size:12px;
}

.bottom_copyright p{
	text-align:center;
}